<div class="pj-card">
    <div class="title">
        <div class="name">{{ item.Name }}</div>
        <div>
            <div class="icons">
                @for(pic of item.ToolsVisualPath; track $index){
                    <img [src]="basePath + pic">
                }
            </div> <!-- Tool logos -->
            <div><u>Other Tools</u>: {{ item.OtherTools.join(", ") }}</div><!-- other tools -->
        </div>
    </div>
    <div>{{ item.Overview }}</div> <!-- Project desc -->

    <!-- Back side for images, videos and my contributions-->
</div>
