.pj-card{
    padding: 1.25rem;
    margin: 25px;

    
    border: 5px solid magenta;
    background-color:rgb(143, 143, 143);
    color: black;
    border-radius: 9px;
}
.frontside{
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
}
.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.name {
    font-size: 3rem;
    font-family: var(--space-font-title);
}
.icons img{
    height: 60px;
    width: 60px;
    margin: 6px;
}
.overview {
    margin-top: 8px;
    font-size: 1.25rem;
}
.other-tools {
    font-size: 0.75rem;
}

.more-info{
    display: flex;
    width: 30%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
.more-btn-cont{
    margin-top: 10px;
}
.back-title{
    font-family: var(--space-font-title);
    font-size: 1.25rem;
}
.backside {
    display: flex;
    flex-direction: column;
}