@if(!flipped){
    <div class="tl-card front">
        <div class="top">
            <div class="top-left">
                <img src='{{item.LogoPath}}' alt="UCF">
            </div>
            <div class="top-mid">
                <div class="top-mid-entity">{{ item.Entity }}</div>
                @if (item.State == null || item.City == null) {
                    @if(item.State == null){
                        <div class="top-mid-location">{{ item.City }}</div>
                    }
                    @else{
                        <div class="top-mid-location">{{ item.State }}</div>
                    }
                }
                @else {
                    <div class="top-mid-location">{{ item.City }}, {{ item.State }}</div>
                } 
            </div>
            @if(item.StartYear == null){
                <div class="top-right">{{ item.EndMonth }} {{ item.EndYear }}</div>
            }
            @else {
                <div class="top-right">
                    <div>{{ item.StartMonth }} {{ item.StartYear }}</div> 
                    <div>to</div>
                    <div>{{ item.EndMonth }} {{ item.EndYear }}</div>
                </div>
            }
            
        </div>
        <div class="bot">
            <div class="bot-main">
                {{ item.Title }}
            </div>
            <div class="bot-sub">
                <div>{{ item.Subtext }}</div>
                @if(item.Description){
                    <button mat-flat-button (click)="flipped = !flipped">More</button>
                }
            </div> 
        </div>
    </div>
}

@else {
    <div class="tl-card back">
        <ul>
            @for(bullet of item.Description; track $index){
                <li>{{bullet}}</li>
            }
        </ul>
        <button mat-flat-button (click)="flipped = !flipped">Return</button>
    </div>
}