
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html, body{
  margin:0;
  padding:0;
  height: 100%;
}

:root{
  --space-font-title: 'Orbitron', sans-serif; 
  --space-font: 'Space Mono', monospace;     /* custom variable */
  --card-bg-color: #191c29;
  --card-choice-color: #3e4666;
}

body {
  font: var(--space-font);
  color: aliceblue;
}

/*** Card Styles ***/
@property --rotate {
  syntax: "<angle>";
  initial-value: 130deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card {
  position: relative;
  border-radius: 8px;
  background: #191c29;
  padding: 4px; // Space for the border
  
  &::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 8px;
    background: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    z-index: -1;
    
    // This changes the angle of the background gradient, thus giving a rotating border look
    // But on chrome is spins the entire rectangle and not changing the gradient angle
    //animation: spin 3s linear infinite;
  }
}

/*** Card Style END ***/

// Dialog styles
.project-dialog {
  .mat-mdc-dialog-container {
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
    color: white;
  }
}
