
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html, body{
  margin:0;
  padding:0;
  height: 100%;
}

:root{
  --space-font-title: 'Orbitron', sans-serif; 
  --space-font: 'Space Mono', monospace;     /* custom variable */
  --card-bg-color: #191c29;
  --card-choice-color: #3e4666;
}

body {
  font: var(--space-font);
  color: aliceblue;
}

/*** Card Styles ***/
@property --rotate {
  syntax: "<angle>";
  initial-value: 130deg;
  inherits: false;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  50%{
    --rotate: 180deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card {
  position: relative;
  border-radius: 8px;
  background:
    linear-gradient(#191c29, #191c29) padding-box,
    linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2) border-box;
  border: 4px solid transparent;  
  animation: spin 3s ease-in-out infinite;
}
/*** Card Style END ***/

// Dialog styles
.project-dialog {
  .mat-mdc-dialog-container {
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
    color: white;
  }
}
