name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.17.1' # or your preferred version
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build Angular app
        run: npm run build -- --configuration production
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 
      
      - name: Deploy to S3
        run: |
          aws s3 sync dist/PortfolioV2/browser s3://scottspicer24-v2portfolio-website --delete
        # (aws s3 sync == aws cli to sync with bucket), (dist/PortfolioV2/browser == output of npm run build i.e. what the browser needs)
        # (s3://scottspicer24-v2portfolio-website == the bucket name), (-- delete == removes old files not in curr push)